<mat-toolbar color="primary">
  <span>Gator Arcade</span>
</mat-toolbar>

<div class="container">
  <mat-card class="game-card">
    <mat-card-title>Tic Tac Toe</mat-card-title>
    <mat-card-content>
      <button mat-raised-button routerLink="/tic-tac-toe">Play</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="game-card">
    <mat-card-title>Solitaire</mat-card-title>
    <mat-card-content>
      <button mat-raised-button routerLink="/solitaire">Play</button>
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>
